@font-face {
    font-family: 'Jersey 25';
    src: url(Jersey25-Regular.ttf);
}

.buttonLog {
    background: #5cbdfd;
    padding: 0.6em 1.3em;
    font-family: 'Jersey 25', serif;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
  }
  
.buttonLog:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}
  
.buttonLog:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}
