@font-face {
    font-family: 'Jersey 25';
    src: url(Jersey25-Regular.ttf);
}

#logo{
    width: 75px;
    height: 75px;
}

#titre{
    font-family: 'Jersey 25', serif;
    font-size: 50px;
    color: #000000;
}

.buttonLog {
    background: #5cbdfd;
    padding: 0.6em 1.3em;
    font-family: 'Jersey 25', serif;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
  }
  
.buttonLog:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}
  
.buttonLog:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

.body{
    font-family: 'Jersey 25', serif;
    background-color: #B1B3BC;
}

#presentation{
    font-family: 'Jersey 25', serif;
    font-size: 19px;
    color: #000000;
    padding-left: 100px;
    padding-top: 100px;
}

.type_conn{
    font-family: 'Jersey 25', serif;
    font-size: 19px;
    color: #000000;
}

.lien:visited{
    text-decoration: none;
    color: #000000;
}

.lien:link{
    text-decoration: none;
    color: #000000;
}

#form_login{
    padding-top:100px;
    padding-left: 200px;
    padding-right: 200px;
    font-family: 'Jersey 25', serif;
}

#register{
    padding-left: 800px;
}
